<div class="row">
  <div class="col-xs-12">
    <img src="{{recepie.imagePath}}" alt="{{recepie.name}}" class="img-responsive" style="max-height-300px;"/> 
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recepie.name}}</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-tggle">Manage Recepie <span class="caret"></span> </button>
        <ul class="dropdown-menu">
          <li><a href = "#">To shopping list</a></li>
          <li><a href = "#">Edit Recepie</a></li>
          <li><a href = "#">Delete Recepie</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        {{recepie.description}}
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        Ingredients
      </div>
    </div>