<h1>Output</h1>
<div class="maincontainer">
    <div class="row">
        <div class="col-xs-12">
          <form  *ngIf="testForm" [formGroup]="testForm">
              <div class="col-xs-12" formArrayName="widgets">
                  <div class="row" *ngFor="let widget of testForm.get('widgets').controls; let i=index; let testwidget of widgetArray" [formGroupName]="i">
                    <div class="col-xs-8">  
                      <label for={{widgetArray[i].name}}>{{widgetArray[i].label}}</label>                
                      <input type={{widgetArray[i].fieldType}} id={{widgetArray[i].name}} class="form-control" formControlName="name" >                    
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
</div>
<br>
<br>
