<H1>Todo</H1>

<div class="container">  
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" 
                name="description" required="required" >
    </fieldset>

    <fieldset class="form-group">
        <label>Target Date</label>
        <input type="date" 
        class="form-control" name="targetDate" required="required" >
    </fieldset>

    <button type="submit" class="btn btn-success" (click)="saveTodo">Save</button>
  </form>  
</div>