<div class ="container">
    <div class = "row">
        <h3>I am using angular component</h3>
        <hr>aa
        sasas
        <app-servers></app-servers> <!--FOR TAG SELECTOR-->
        <!--<div app-servers></div>-->
    </div>
</div>