<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]" routerLinkActive="router-link-active" 
        [queryParams] = "{allowEdit: server.id === 3?'1':'0'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="reloadPage()">Reload Page</button>
    <!--<app-edit-server></app-edit-server>-->
    <router-outlet></router-outlet>
    <hr>
    <!--<app-server></app-server>-->
  </div>
</div>

