<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="border: 1px solid black">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <h1>{{groupConfig.name}}</h1>
    </li>
  </ul>
</nav>