<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.google.com" class="navbar-brand">Google</a>
            <ul class="navbar-nav">
                <li><a href="/welcome/in28minutes" class="nav-link">Home</a></li>
                <li><a href="/todos" class="nav-link">ToDos</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a href="/login" class="nav-link">Login</a></li>
                <li><a href="/logout" class="nav-link">LogOut</a></li>
            </ul>
        </div>
    </nav>
</header>