<table>
  <caption>My Todos</caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let todo of todos">
    <td>todo.id</td>
    <td>todo.description</td>
  </tr>
  <tbody>

  </tbody>
</table>