<h3>I am using angular component</h3>
<hr>
<!--<app-servers></app-servers>--> <!--When selector is element-->
<!--<div app-servers></div>--> <!--when selector is property or attribute-->
<div class="app-servers"></div><!--when selector is a css class-->