<div id="slider_{{sliderId}}" [@slide]="activePane" (@slide.done)="handleEventCompletion($event)"
  (@slide.start)="handleEventStart($event)">
  <table id="slider_table_{{sliderId}}">
    <tr>
      <td style="vertical-align: top" *ngIf="showEditButton == '1'">
        <ng-container *ngIf="customTrigger; else defaultButtonPane">
          <ng-content select="[triggerPane]"></ng-content>
        </ng-container>
        <ng-template #defaultButtonPane >
          <button class="btn btn-danger" (click)="togglePane()" id="slider_button_{{sliderId}}"
            #buttonPane>Edit</button>
        </ng-template>
      </td>
      <td style="background-color:rebeccapurple ;background-image: linear-gradient(rgb(121, 94, 148), white);">
        <ng-container *ngIf="panelOpen">
          <ng-content select="[selectPane]"></ng-content>
        </ng-container>
      </td>
    </tr>
  </table>
</div>