<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recepie</button>
    </div>
</div>
<div class="row">
        <div class="col-xs-12">
            <a href="" class="list-group-item clearfix"></a>
            <div class="pull-left">
                <h4 class="list-group-item-heading">Recepie Name</h4>
                <p class="list-group-item-text">Description</p>
            </div>
            <span class="pull-right">
                <img src="" alt="" class="img-responsive" style ="max-height:50px;">
            </span>
            <app-recepie-item></app-recepie-item>
        </div>
</div>
