<div *ngIf="this.group.controls[this.formGroupName]">
<div 
      class="dynamic-field form-input" 
      [formGroup]="this.group.controls[this.formGroupName]">
      
      <label>{{ fieldConfig.label }}</label>
      <input
        type="text" class="form-control"
        [attr.placeholder]="fieldConfig.placeholder"
        [formControlName]="fieldConfig.name">
      
    </div>
    <br>
  </div>