
<div class="courses-panel">

    <h3>All Courses</h3>

    <mat-tab-group>

        <mat-tab label="Beginners">

            <courses-card-list
                    [courses]="beginnerCourse">

            </courses-card-list>

        </mat-tab>

        <mat-tab label="Advanced">

            <courses-card-list
                    [courses]="advancedCourses"

            ></courses-card-list>

        </mat-tab>

    </mat-tab-group>



</div>

