<!--<div *ngIf="this.group.controls[this.formGroupName]">-->
<div *ngIf="group">
  <ng-container class="dynamic-field form-input" [formGroup]="group">
    
    <label>{{ fieldConfig.label }}</label>

    <input type="text" class="form-control" [attr.placeholder]="fieldConfig.placeholder"
      [formControlName]="fieldConfig.name" >
</ng-container>
</div>
 
