
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password  : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleLogin() class="btn btn-success">Login</button>
  
 