<label>Server Name</label>
<input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)">
{{ serverName }}
<br>
<button
  class = "btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer($event)">Add Server</button>
  {{ serverCreationStatus }}
<app-server></app-server>
  <app-server></app-server>