<div class="col-sm-12" [formGroup]="group">
    <label [for]="name">{{labelName}}</label>
    <div class="radio" *ngFor="let option of options" >
      <label>
        <input type="radio" [value]="option" [name]="name" (change)="onChangeVal($event)">{{ option }}
      </label>
    </div>
  </div>