:host {
    display: block;
  }
  
  button {
    font-size: 24px;
    margin-top: 16px;
  }

  .fullImage{
    background-image: url("img.jpg");
  }
  /*
  [leftPane]  { background-color: #FFF897; }
  [rightPane] { background-color: #6CE6CB; }
  */