<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recepie</button>
    </div>
</div>
<hr>
<div class="row">
        <div class="col-xs-12">
            <a href="" class="list-group-item clearfix" *ngFor="let recepieEL of recepies">
                <!--<div class="pull-left">
                    <h4 class="list-group-item-heading">{{recepieEL.name}}</h4>
                    <p class="list-group-item-text">{{recepieEL.description}}</p>
                </div>
                <span class="pull-right">
                    <img src="{{recepieEL.imagePath}}" alt="{{recepieEL.name}}" class="img-responsive" style ="max-height:50px;">
                </span>
                -->
                <app-recepie-item [recepie]='recepieEL' ></app-recepie-item>
            </a>
            
        </div>
</div>
