<div class="row" style="background: lightsteelblue; padding-left: 90px">
  <div class="row option">
    <div class="col-sm-1" style="padding-top:6px">
      <label for="linelevelTax">Line Level Tax</label>
    </div>
    <div class="col-sm-1">
      <input type="radio" id="linelevelTax" name="isTaxInline" (click)="onlineLevelTaxClicked($event)"class="form-control">
    </div>
    <div class="col-sm-1">
      <label for="headerlevelTax" style="padding-top:6px">Header Level Tax</label>
    </div>
    <div class="col-sm-1">
      <input type="radio" id="headerlevelTax" name="isTaxInline" (click)="onHeaderLevelTaxClicked($event)" class="form-control">
    </div>
  </div>
</div>
