<div class="row">
  <div class="col-md-5">
    <app-recepie-list></app-recepie-list>
  </div>
  <div class="col-md-7">
    <app-recepie-detail *ngIf ='selectedRecepie; else infoText' [recepie]='selectedRecepie'></app-recepie-detail>
    <ng-template #infoText>
      <p>Please select a recepie</p>
    </ng-template>
  </div>
</div>