<table>
  <caption>My Todos</caption>
  <thead>
    <tr>
      <th>Description</th>
      <th>Target Date</th>
      <th>Is Completed?</th> 
    </tr>
  </thead>
  <tr *ngFor="let todo of todos">
    <td>{{todo.description}}</td>
    <td>{{todo.targetDate | date | uppercase}}</td>
    <td>{{todo.done}}</td>
  </tr>
  <tbody>

  </tbody>
</table>