<div class="dynamic-field" [formGroup]="group">
  <button [disabled]="fieldConfig.disabled" class="btn btn-success" type="button" (click)="handleSubmit()">
    {{ fieldConfig.label }}
  </button>
</div>
