<h1>Material Invoice</h1>
<hr>
<div class="col-md-12">
  <form #f="ngForm" (ngSubmit)="submitForm(f)">
      <div class="row">
          <div class="col-md-1">
            <label for="lineNumber">Line Number</label>
            <input type="number" id="lineNumber" class="form-control" name="lineNumber" ngModel>
          </div>
          <div class="col-md-2">
            <label for="customerPart">Customer Part</label>
            <input type="text" id="customerPart" class="form-control" name="customerPart" ngModel>
          </div>
          <div class="col-md-2">
            <label for="supplierPart">Supplier Part</label>
            <input type="text" id="supplierPart" class="form-control" name="supplierPart" ngModel>
          </div>
          <div class="col-md-2">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" name="description" ngModel>
          </div>
          <div class="col-md-1">
            <label for="uom">UOM</label>
            <input type="text" id="uom" class="form-control" name="uom" ngModel>
          </div>
          <div class="col-md-1">
            <label for="unitQuantity">Unit Quantity</label>
            <input type="number" id="unitQuantity" class="form-control" name="unitQuantity" ngModel>
          </div>
          <div class="col-md-1">
            <label for="price">Price</label>
            <input type="number" id="price" class="form-control" name="price" ngModel>
          </div>
          <div class="col-md-1">
            <label for="total">Total</label>
            <input type="number" id="total" class="form-control" name="total" ngModel>
          </div>
          <input type="hidden" id="type" style="display: none;" class="form-control" name="type" ngModel>
          <input type="hidden" id="taxDetails" style="display: none;" class="form-control" name="taxDetails" ngModel>
        </div>
        <br>
    
    <div class="row pull-right">
      <span *ngIf="!isEditMode"><button class="btn btn-success" formTrigger>Add</button></span>
      <span *ngIf="isEditMode"><button class="btn btn-primary" formTrigger type="button"
          (click)="updateLineItem(f)">Update</button></span>
      <button class="btn btn-danger"  formTrigger type="button">Cancel</button>
    </div>
  </form>
</div>