<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-tggle">Add <span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onAddMaterialInvoice()" appTrigger="addlineItem">Material Invoice</a>
        </li>
        <li><a style="cursor: pointer;" (click)="onAddServiceInvoice()" appTrigger="addlineItem">Service Invoice</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12" *ngIf="getLineItemsControl().length>0">
  <h1>Line Item</h1>
  <hr>

  <div class="row">
    <div class="col-md-1">
      <label for="lineNumber">Line Number</label>
    </div>
    <div class="col-md-2">
      <label for="customerPart">Customer Part</label>
    </div>
    <div class="col-md-2">
      <label for="supplierPart">Supplier Part</label>
    </div>
    <div class="col-md-2">
      <label for="description">Description</label>
    </div>
    <div class="col-md-1">
      <label for="uom">UOM</label>
    </div>
    <div class="col-md-1">
      <label for="unitQuantity">Unit Quantity</label>
    </div>
    <div class="col-md-1">
      <label for="price">Price</label>
    </div>
    <div class="col-md-1">
      <label for="total">Total</label>
    </div>
    <div class="col-md-1">
      <label for="actions">Actions</label>
    </div>
  </div>
  <br>
</div>
<hr>
<app-slider sliderId="addlineItem" top="400px"[customTrigger]="true" appSliderDirective marginRight="100px"
  showEditButton="1">
  <div selectPane>
    <div *ngIf="isServiceInvoice && !isMaterialInvoice">
      <app-service-invoice  [index]="group" [isEditMode]="false"
        (serviceInvoiceAddedd)="addServiceInvoice($event)" >
      </app-service-invoice>
    </div>
    <div *ngIf="isMaterialInvoice && !isServiceInvoice">
      <app-material-invoice  [index]="group" [isEditMode]="false"
        (materialInvoiceAddedd)="addMaterialInvoice($event)" >
      </app-material-invoice>
    </div>
  </div>
</app-slider>
<form [formGroup]="invoiceForm">
  <div class="col-xs-12" formArrayName="lineItems" style="margin-top:10px">
    <div class="row" *ngFor="let lineItem of getLineItemsControl(); let i=index" [formGroupName]="i">
      <app-line-item-table (lineItemEditData)="editLineItem($event)" [lineData]="lineItem" [group]="i">
      </app-line-item-table>
    </div>
  </div>
</form>