<div class="app">
  <div class="row">
    <div class="col-md-5">
      <app-json-box></app-json-box>
    </div>
    <div class="col-md-7">
      <app-test-screen></app-test-screen>
    </div>
  </div>  
</div>