<form class="dynamic-form" [formGroup]="form" (submit)="handleSubmit($event)">
  <ng-container *ngFor="let groupConfig of groupConfigList;" appDynamicFormGroup [groupConfig]="groupConfig" [group]="form">
  </ng-container>
</form>