<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="cursor: pointer;" class="navbar-brand">Recepie Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                    <li routerLinkActive="active" ><a routerLink="/recepies">Recepies</a></li>
                    <li routerLinkActive="active" ><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
           <ul class="nav navbar-nav navbar-right open" appDropdown>
               <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li routerLinkActive="active" ><a routerLink="/signUp">Register</a></li>
                    <li routerLinkActive="active" ><a routerLink="/signIn">Sign In</a></li> 
               </ng-template>  
               <ng-template [ngIf]="authService.isAuthenticated()">
                    <li class="dropdown" appDropdown >
                            <a  style="cursor: pointer;" class="dropdown-toggle open" role="button" >Manage <span class="caret"></span></a>
                           <ul class="dropdown-menu" >
                               <li><a style="cursor: pointer;" (click)='onSaveData()'>Save Data</a></li>
                               <li><a style="cursor: pointer;" (click)='onFetchData()'>Fetch Data</a></li>
                           </ul>
                    </li>
               </ng-template>  
               
           </ul>

        </div>
    </div>
</nav>