<label>Server Name WITH TWO WAY DATA BINDING USING [(ngModel)]</label>
<!--<input 
type="text" 
class="form-control"
[(ngModel)]="serverName"> -->
<br>
<label>Server Name WITH using Input</label>
<input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)">
<b>RESULT WINDOW:</b>
<br>
<!--{{ serverName }} -->
<br>
<button
  class = "btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer($event)">Add Server</button>
  <!--{{ serverCreationStatus }}-->
  <p *ngIf="serverCreated"> Server is created , Server name is {{serverName}}</p>
<app-server></app-server>
  <app-server></app-server>