<div 
      class="dynamic-field form-input" 
      [formGroup]="group">
      <label>{{ config.label }}</label>
      <input
        type="text" class="form-control"
        [attr.placeholder]="config.placeholder"
        [formControlName]="config.name">
    </div>
    <br>