<h1>Welcome!</h1>
<p>
  welcome {{name}} Get todos <a routerLink="/todos">Here</a>
</p>
<div class="container">
  Click here to get a customized welcome message
    <button class="btn btn-success" (click)="getWelcomeMessage()"> Get Wel come Message</button>
</div>
