<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-7 ">
      
      <div class="form-group" *ngIf="fieldType == 'app-customized-textbox'">
          <app-customized-textbox [ctrlName]="ctrlName" [group]="group" [name]="name" [labelName]="labelName" [groupName]="groupName" ></app-customized-textbox>
      </div>
      
      <div class="form-group" *ngIf="fieldType == 'app-customized-radio'">          
          <app-customized-radio [ctrlName]="ctrlName" [group]="group" [name]="name" [labelName]="labelName" [groupName]="groupName" [options]="options"></app-customized-radio>
      </div>

      <div class="form-group" *ngIf="fieldType == 'app-customized-checkbox'">          
          <app-customized-checkbox [ctrlName]="ctrlName" [group]="group" [name]="name" [labelName]="labelName" [groupName]="groupName" [options]="options"></app-customized-checkbox>
      </div>

      <div class="form-group" *ngIf="fieldType == 'app-customized-select'">          
          <app-customized-select [ctrlName]="ctrlName" [group]="group" [name]="name" [labelName]="labelName" [groupName]="groupName" [options]="options"></app-customized-select>
      </div>
      
      
      <!--app-customized-checkbox
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="file">file</label>
        <input type="file" id="file" class="form-control" formControlName="file">
      </div>
      <div class="form-group">
        <label for="date">date</label>
        <input type="date" id="date" class="form-control" formControlName="date">
      </div>
      <div class="form-group">
        <label for="color">color</label>
        <input type="color" id="color" class="form-control" formControlName="color">
      </div>
      <div class="form-group">
        <label for="number">number</label>
        <input type="number" id="number" class="form-control" formControlName="number">
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label for="url">url</label>
        <input type="url" id="url" class="form-control" formControlName="url">
      </div>
      <div class="form-group">
        <label for="tel">url</label>
        <input type="tel" id="tel" class="form-control" formControlName="tel">
      </div>
      <div class="form-group">
        <label for="search">search</label>
        <input type="search" id="search" class="form-control" formControlName="search">range
      </div>
      <div class="form-group">
        <label for="range">url</label>
        <input type="range" id="range" class="form-control" formControlName="range">
      </div>
      
      <div class="form-group">
        <div class="radio" *ngFor="let option of options">
          <label>
            <input type="radio" [value]="option" formControlName="option">{{ option }}
          </label>
        </div>
      </div>
      
      <div class="form-group">
        <div class="radio" *ngFor="let option of options">
          <label>
            <input type="checkbox" [value]="option" formControlName="option">{{ option }}
          </label>
        </div>
      </div>
      
      <div class="form-group">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle open" role="button">Drop-Down <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let option of options"><a href="#">{{option}}</a></li>
          </ul>
        </li>
      </div>-->
    </div>
  </div>
</div>