<my-slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">
  <!--<div leftPane><button class="btn btn-success" (click)="isLeftVisible = !isLeftVisible">Edit</button></div>-->
  <div rightPane><button class="btn btn-success" (click)="isLeftVisible = !isLeftVisible">Edit</button></div>
  <!--
  <div leftPane><button class="btn btn-success" (click)="isLeftVisible = !isLeftVisible">Edit</button></div>
  <div rightPane></div>
  -->
</my-slide-panel>

<button (click)="isLeftVisible = !isLeftVisible">Toggle panes</button>
