<!--<div *ngIf="this.group.controls[this.formGroupName]">-->
<ng-container *ngIf="group">
  <ng-container class="dynamic-field form-select" [formGroup]="group">

    <label>{{ fieldConfig.label }}</label>

    <select [formControlName]="fieldConfig.name" class="form-control" value={{selectedValue}}>
      <option value="">{{ fieldConfig.placeholder }}</option>
      <option *ngFor="let option of fieldConfig.options">
        {{ option }}
      </option>
    </select>
  </ng-container>
</ng-container>