
<br><br>

<div>
  {{addressType}}
<br>
  <form class="form-inline" role="form" #f="ngForm">
    <div class="col-md-6"  [ngModelGroup]="group">
      <div class="row">
        <div class="col-md-6" >
          <input type="hidden"  id="addressLine1" class="form-control" name="addressLine1"
            [ngModel]="addressVal.addressLine1">
            {{addressVal.addressLine1}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="addressLine2" class="form-control" name="addressLine2"
            [ngModel]="addressVal.addressLine2">
          {{addressVal.addressLine2}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="addressLine3" class="form-control" name="addressLine3"
            [ngModel]="addressVal.addressLine3">
          {{addressVal.addressLine3}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="municipalty" class="form-control" name="municipalty"
            [ngModel]="addressVal.municipalty">
          {{addressVal.municipalty}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <input type="hidden" disabled="true" id="city" class="form-control" name="city"
            [ngModel]="addressVal.city">
          {{addressVal.city}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <input type="hidden" disabled="true" id="state" class="form-control" name="state"
            [ngModel]="addressVal.state">
          {{addressVal.state}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6  ">
            <input type="hidden" disabled="true" id="country" class="form-control" name="country"
            [ngModel]="addressVal.country">
          {{addressVal.country}}
        </div>
      </div>
    </div>
  </form>
</div>