:host {
  display: block;
  overflow: inherit;
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  bottom:inherit;
  margin-right:0px;
  z-index:100
}

.sliderContent {
  display: inline-block;
  box-shadow:3px 3px 3px #888888;
  border: 1px solid #737272;
  border-radius: 6px !important;
  background-image:linear-gradient(rgba(255, 255, 255, 0.982),rgb(238, 240, 244), white);
}