<ul>
    <ng-template #treeView let-data>
          <li *ngFor="let item of data">
                {{ item.name }}
                <ul *ngIf="item.children?.length > 0">
                      <ng-container *ngTemplateOutlet="treeView;  context:{ $implicit: item.children }"></ng-container>
                </ul>
          </li>
    </ng-template>
</ul>