<div class="row fullImage"
  style="height:900px;margin-left:10px; background: cornflowerblue; background-image: linear-gradient(cornflowerblue,rgb(176, 191, 220), white);">
  <form (ngSubmit)="submitInvoice(f)" #f="ngForm">
    <div class="row" style="margin-left: 5px" >
      <h1>{{data.invoiceId}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <!--ngModelGroup="billFrom"-->
        <address group="billFrom" [addressVal]="data.billFrom" addressType="Bill From"></address>
      </div>
      <div class="col-sm-5">
        <!--ngModelGroup="billTo"-->
        <address group="billTo" [addressVal]="data.billTo" addressType="Bill To"></address>
      </div>
    </div>
    <app-line-item [lineItems]="data.lineItemDataModel"></app-line-item>
    <hr>
    <hr>
    <div class="row pull-right" style="margin-right: 5px ;margin-top:100px">
      <button class="btn btn-success">Submit</button>
    </div>
  </form>
</div>