<div class="w-100">
  <form class="dynamic-form" [formGroup]="form" (submit)="handleSubmit($event)">
    <ul>
      <ng-container *ngFor="let groupConfig of groupConfigList">
        <ng-container
          *ngTemplateOutlet="treeView;  context:{ $implicit: {formGroupConfig:groupConfig , formGroup:form.controls[groupConfig.name]}}">
        </ng-container>
      </ng-container>
    </ul>
  </form>
</div>
<ng-template #treeView let-formConfig>
  <div>
    <ng-container appDynamicTemplateGroup [groupConfig]="formConfig.formGroupConfig" [group]="formConfig.formGroup">
      <ng-container *ngIf="formConfig.formGroupConfig.fieldConfigList">
        <table>
          <tr>
            <ng-container *ngFor="let fieldConfig of formConfig.formGroupConfig.fieldConfigList" appDynamicTemplateField
              [fieldConfig]="fieldConfig" [group]="formConfig.formGroup" [groupConfig]="formConfig.formGroupConfig">
              <ng-container *ngIf="fieldConfig.layout && fieldConfig.layout==column">
                <td></td>
              </ng-container>
              <ng-container *ngIf="fieldConfig.layout && fieldConfig.layout==row">
                  <td></td>
                </ng-container>
            </ng-container>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="formConfig.formGroupConfig.groupConfigList">
        <ng-container *ngFor="let config of formConfig.formGroupConfig.groupConfigList">
          <ng-container
            *ngTemplateOutlet="treeView;  context:{ $implicit: {formGroupConfig:config , formGroup:formConfig.formGroup.controls[config.name]}}">
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-template>