<h1>Tax Detail</h1>
<hr>
<br>
<form class="form-inline" role="form" #f="ngForm" (ngSubmit)="submitForm(f)">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <label for="category">Category</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="category" class="form-control" name="category" [ngModel]="taxData.category">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label for="description">Description</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="description" class="form-control" name="description" [ngModel]="taxData.description">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label for="exemptDetail">Exempt Detail</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="exemptDetail" class="form-control" name="exemptDetail" [ngModel]="taxData.exemptDetail">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label for="location">Location</label>
      </div>
      <div class="col-md-8">
        <input type="text" id="location" class="form-control" name="location" [ngModel]="taxData.location">
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5">
        <label for="percentage">Percentage</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="percentage" class="form-control" name="percentage" [ngModel]="taxData.percentage">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="taxAmount">Tax Amount</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="taxAmount" class="form-control" name="taxAmount" [ngModel]="taxData.taxAmount">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="taxRateType">Tax rate Type</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="taxRateType" class="form-control" name="taxRateType" [ngModel]="taxData.taxRateType">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="taxRegime">Tax Regime</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="taxRegime" class="form-control" name="taxRegime" [ngModel]="taxData.taxRegime">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="taxableAmount">Taxable Amount</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="taxableAmount" class="form-control" name="taxableAmount" [ngModel]="taxData.taxableAmount">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="vatDueTimeCode">Vat Due Time Code</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="vatDueTimeCode" class="form-control" name="vatDueTimeCode" [ngModel]="taxData.vatDueTimeCode">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <label for="withholdingType">Withholding Type</label>
      </div>
      <div class="col-md-5">
        <input type="text" id="withholdingType" class="form-control" name="withholdingType" [ngModel]="taxData.withholdingType">
      </div>
    </div>
    <br>
  </div>
  
<div class="row pull-right">
  <span *ngIf="!isEditMode"><button class="btn btn-warning" formTrigger >Add</button></span>
  <span *ngIf="isEditMode"><button class="btn btn-primary" formTrigger type="button" (click)="updateTaxDetail(f)">Update</button></span>
  <button class="btn btn-danger" formTrigger type="button">Cancel</button>
</div>
</form>