<!--
<div class="row float-right" style="width: 100% ;height:100% ;/*z-index:100*/">
  <div class="panes float-right" [@slide]="activePane" 
  (@slide.done)="handleEventCompletion($event)" 
  (@slide.start)="($event)"style="height:100%;">
    <table>
      <tr>
        <th style="vertical-align: top">
          <div class="pull-right">
            <button class="btn btn-danger pull-right" (click)="togglePane()">Edit</button>
          </div>
        </th>
        <ng-container *ngIf="panelOpen">
        <th style="width:100%; height:900px; background-color: gold">
            <ng-content select="[selectPane]"></ng-content>     
        </th>
      </ng-container>
      </tr>
    </table>
  </div>
</div>
-->
sfdsfsfsf