:host {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 200px;
  background-color: white;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
  transform: translateX(200px);
  transition: transform 300ms ease-in-out;
}
:host.opened {
  transform: translateX(0);
}
:host .backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
