<hr>
<br>
<div class="col-md-12">
  <div class="row">
    <form [formGroup]="lineDataForm">
      <app-slider sliderId="editlineItem_{{group}}" [customTrigger]="true" appSliderDirective marginRight="100px"
        showEditButton="1">
        <div selectPane>
          <div *ngIf="isServiceInvoice && !isMaterialInvoice">
            <app-service-invoice (serviceInvoiceUpdated)="updateServiceInvoice($event)" [index]="group"
              [isEditMode]="true" [lineItemData]="lineData">
            </app-service-invoice>
          </div>
          <div *ngIf="isMaterialInvoice && !isServiceInvoice">
            <app-material-invoice (materialInvoiceUpdated)="updateMaterialInvoice($event)" [index]="group"
              [isEditMode]="true" [lineItemData]="lineData">
            </app-material-invoice>
          </div>
        </div>
      </app-slider>
      <div class="col-md-1">
        <input type="number" id="lineNumber" disabled="true" class="form-control" formControlName="lineNumber">
      </div>
      <div class="col-md-2">
        <input type="text" id="customerPart" disabled="true" class="form-control" formControlName="customerPart">
      </div>
      <div class="col-md-2">
        <input type="text" id="supplierPart" disabled="true" class="form-control" formControlName="supplierPart">
      </div>
      <div class="col-md-2">
        <input type="text" id="description" disabled="true" class="form-control" formControlName="description">
      </div>
      <div class="col-md-1">
        <input type="text" id="uom" disabled="true" class="form-control" formControlName="uom">
      </div>
      <div class="col-md-1">
        <input type="number" id="unitQuantity" disabled="true" class="form-control" formControlName="unitQuantity">
      </div>
      <div class="col-md-1">
        <input type="number" id="price" disabled="true" class="form-control" formControlName="price">
      </div>
      <div class="col-md-1">
        <input type="number" id="total" disabled="true" class="form-control" formControlName="total">
      </div>
      <div class="col-md-1">
        <button class="btn btn-warning" [disabled]="!isEditButtonEnabled" appTrigger="editlineItem"
          (click)="editLineItem()" type="button" [name]="group">Edit</button>
      </div>
      <input type="hidden" id="type" disabled="true" style="display: none" class="form-control" formControlName="type">
    </form>
  </div>
  <br>
  <app-slider sliderId="addtaxDetail_{{group}}" top="0px" appSliderDirective [customTrigger]="true" marginRight="100px"
    showEditButton="1" >
    <div selectPane>
      <app-tax-detail [isEditMode]="false" [lineIndex]="group"></app-tax-detail>
    </div>
  </app-slider>
  <div class="row pull-right">
    <div style="position: relative; display: block ;margin-left:-150px;z-index: 2;" class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-tggle" type="button">Line Item Actions <span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;"  name="{{group}}" appTrigger="addtaxDetail">Add Tax Details</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12" *ngIf="getTaxData().length>0">
    <h3>Tax Detail</h3>
    <hr>
    <div class="row">
      <div class="col-sm-1">
        <label for="category">Category</label>
      </div>
      <div class="col-sm-1">
        <label for="description">Description</label>
      </div>
      <div class="col-sm-1">
        <label for="exemptDetail">Exemption Detail</label>
      </div>
      <div class="col-sm-1">
        <label for="location">Location</label>
      </div>
      <div class="col-sm-1">
        <label for="percentage">Percentage</label>
      </div>
      <div class="col-sm-1">
        <label for="taxAmount">Tax Amount</label>
      </div>
      <div class="col-sm-1">
        <label for="taxRateType">Tax Rate Type</label>
      </div>
      <div class="col-sm-1">
        <label for="taxRegime">Tax Regime</label>
      </div>
      <div class="col-sm-1">
        <label for="taxableAmount">Taxable Amount</label>
      </div>
      <div class="col-sm-1">
        <label for="vatDueTimeCode">Vat Due Time Code</label>
      </div>
      <div class="col-sm-1">
        <label for="withholdingType">Withholding type</label>
      </div>
      <div class="col-sm-1">
          <label for="actions">Actions</label>
        </div>
      <div [formGroup]="lineDataForm">
        <div class="col-sm-12" formArrayName="taxDetails" style="margin-top:10px">
          <div *ngFor="let taxData of getTaxData(); let i=index"
            [formGroupName]="i">
            <app-tax-detatil-table [taxData]="taxData" [lineIndex]="group" [taxIndex]="i">
            </app-tax-detatil-table>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <hr>
</div>