<div class="col-sm-12">
  <div class="row">
    
    <app-slider sliderId="editTaxDetail_{{lineIndex}}_{{taxIndex}}" top="0px" appSliderDirective [customTrigger]="true"
      marginRight="100px" showEditButton="1">
      <div selectPane>
        <app-tax-detail [isEditMode]="true" [lineIndex]="lineIndex" [taxIndex]="taxIndex" [taxData]="taxData.value"></app-tax-detail>
      </div>
    </app-slider>
    
    <div class="col-sm-1">
      <input type="text" id="category" [disabled]="true" class="form-control" name="category"
        [ngModel]="taxData.value.category">
    </div>
    <div class="col-sm-1">
      <input type="text" id="description" [disabled]="true" class="form-control" name="description"
        [ngModel]="taxData.value.description">
    </div>
    <div class="col-sm-1">
      <input type="text" id="exemptDetail" [disabled]="true" class="form-control" name="exemptDetail"
        [ngModel]="taxData.value.exemptDetail">
    </div>
    <div class="col-sm-1">
      <input type="text" id="location" [disabled]="true" class="form-control" name="location"
        [ngModel]="taxData.value.location">
    </div>
    <div class="col-sm-1">
      <input type="text" id="percentage" [disabled]="true" class="form-control" name="percentage"
        [ngModel]="taxData.value.percentage">
    </div>
    <div class="col-sm-1">
      <input type="text" id="taxAmount" [disabled]="true" class="form-control" name="taxAmount"
        [ngModel]="taxData.value.taxAmount">
    </div>
    <div class="col-sm-1">
      <input type="text" id="taxRateType" [disabled]="true" class="form-control" name="taxRateType"
        [ngModel]="taxData.value.taxRateType">
    </div>
    <div class="col-sm-1">
      <input type="text" id="taxRegime" [disabled]="true" class="form-control" name="taxRegime"
        [ngModel]="taxData.value.taxRegime">
    </div>
    <div class="col-sm-1">
      <input type="text" id="taxableAmount" [disabled]="true" class="form-control" name="taxableAmount"
        [ngModel]="taxData.value.taxableAmount">
    </div>
    <div class="col-sm-1">
      <input type="text" id="vatDueTimeCode" [disabled]="true" class="form-control" name="vatDueTimeCode"
        [ngModel]="taxData.value.vatDueTimeCode">
    </div>
    <div class="col-sm-1">
      <input type="text" id="withholdingType" [disabled]="true" class="form-control" name="withholdingType"
        [ngModel]="taxData.value.withholdingType">
    </div>
    <div class="col-sm-1">
      <button class="btn btn-warning" name="{{lineIndex}}_{{taxIndex}}" appTrigger="editTaxDetail" (click)="editTaxDetails()" type="button">Edit</button>
    </div>
  </div>
</div>
<hr>
<br>