<h1>My Todos</h1>
<div class="container">
  <table class="table">
    <caption>My Todos</caption>
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
        <th><button class="btn btn-success" (click)="addToDo()">Add Todo</button></th>
      </tr>
    </thead>
    <tr *ngFor="let todo of todos">
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date | uppercase}}</td>
      <td>{{todo.done}}</td>
      <td><button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button></td>
      <td><button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button></td>
    </tr>
    <tbody>
  
    </tbody>
  </table>
</div>
