<div class="col-sm-12" [formGroup]="group">
   
    <label [for]="name">{{labelName}}</label>
    <input type="text" [id]="name" [name]="name" class="form-control" (change)='onChangeVal($event)' >
    
</div>