<div>
  <h3>{{addressType}}</h3>
  <hr>
  <form class="form-inline" role="form" #f="ngForm">
    <app-slider sliderId={{addressType}} top="0px" marginRight="100px" appSliderDirective>
      <div selectPane>
        <app-address [group]="group" [addressVal]="addressVal" [addressType]="addressType"></app-address>
      </div>
    </app-slider>
    <div class="col-md-12"  [ngModelGroup]="group"><!--[ngModelGroup]="group"-->
      <div class="row">
        <div class="col-md-6">
          <label for="addressLine1">Address Line 1</label>
        </div>
        <div class="col-md-6" >
          <input type="hidden"  id="addressLine1" class="form-control" name="addressLine1"
            [ngModel]="addressVal.addressLine1">
            {{addressVal.addressLine1}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="addressLine2">Address Line 2</label>
        </div>
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="addressLine2" class="form-control" name="addressLine2"
            [ngModel]="addressVal.addressLine2">
          {{addressVal.addressLine2}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="addressLine3">Address Line 3</label>
        </div>
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="addressLine3" class="form-control" name="addressLine3"
            [ngModel]="addressVal.addressLine3">
          {{addressVal.addressLine3}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="municipalty">Municipalty</label>
        </div>
        <div class="col-md-6">
          <input type="hidden" disabled="true" id="municipalty" class="form-control" name="municipalty"
            [ngModel]="addressVal.municipalty">
          {{addressVal.municipalty}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="city">City</label>
        </div>
        <div class="col-md-6">
            <input type="hidden" disabled="true" id="city" class="form-control" name="city"
            [ngModel]="addressVal.city">
          {{addressVal.city}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="state">State</label>
        </div>
        <div class="col-md-6">
            <input type="hidden" disabled="true" id="state" class="form-control" name="state"
            [ngModel]="addressVal.state">
          {{addressVal.state}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="country">Country</label>
        </div>
        <div class="col-md-6  ">
            <input type="hidden" disabled="true" id="country" class="form-control" name="country"
            [ngModel]="addressVal.country">
          {{addressVal.country}}
        </div>
      </div>
    </div>
  </form>
</div>