<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header navbar-expand-md navbar-dark bg-dark">
            <a href="https://bitbucket.org/Diwakar_Mishra_1990" class="navbar-brand">BitBucket</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" *ngIf="this.authenticationService.isUserLoggedIn()">
                <li><a  [routerLink]="['//welcome/in28minutes']" routerLinkActive="router-link-active" >Home</a></li>
                <li><a  [routerLink]="['/todos']" routerLinkActive="router-link-active" >Todos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a *ngIf="!this.authenticationService.isUserLoggedIn()" routerLink="/login">Login</a></li>
                <li><a *ngIf="this.authenticationService.isUserLoggedIn()" routerLink="/logout">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>