<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.google.com" class="navbar-brand">Google</a>
            <ul class="navbar-nav">
                <li><a *ngIf="authenticationService.isUserLoggedIn()" [routerLink]="['/welcome/in28minutes']" routerLinkActive="router-link-active"  class="nav-link">Home</a></li>
                <li><a *ngIf="authenticationService.isUserLoggedIn()" [routerLink]="['/todos']" routerLinkActive="router-link-active" class="nav-link">ToDos</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!authenticationService.isUserLoggedIn()" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="nav-link">Login</a></li>
                <li><a *ngIf="authenticationService.isUserLoggedIn()" [routerLink]="['/logout']" routerLinkActive="router-link-active" class="nav-link">LogOut</a></li>
            </ul>
        </div>
    </nav>
</header>