<h1>{{addressType}}</h1>
<hr>
<br>
<form class="form-inline" role="form" (ngSubmit)="updateValue(f)" #f="ngForm">
  <div class="col-md-12" [id]="group" [ngModelGroup]="group">
    <div class="row">
      <div class="col-md-6">
        <label for="addressLine1">Address Line 1</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="addressLine1" class="form-control" name="addressLine1" [ngModel]="addressVal.addressLine1" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="addressLine2">Address Line 2</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="addressLine2" class="form-control" name="addressLine2" [ngModel]="addressVal.addressLine2">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="addressLine3">Address Line 3</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="addressLine3" class="form-control" name="addressLine3" [ngModel]="addressVal.addressLine3">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="municipalty">Municipalty</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="municipalty" class="form-control" name="municipalty" [ngModel]="addressVal.municipalty">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="city">City</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="city" class="form-control" name="city" [ngModel]="addressVal.city">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="state">State</label>
      </div>
      <div class="col-md-6">
        <input type="text" id="state" class="form-control" name="state" [ngModel]="addressVal.state">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="country">Country</label>
      </div>
      <div class="col-md-6  ">
        <input type="text" id="country" class="form-control" name="country" [ngModel]="addressVal.country">
      </div>
    </div>

    <br>
  </div>
  <div class="row pull-right">
    <button class="btn btn-success" formTrigger>Update</button>
    <button class="btn btn-danger" (click)="cancelChange()" type="button" formTrigger>Cancel</button>
  </div>
</form>