<ng-template #treeView let-formConfig>
  <!--<li>-->
  <div style="border:1px solid black ;margin-left:20px">
    <ng-container appDynamicTemplateGroup [groupConfig]="formConfig.formGroupConfig" [group]="formConfig.formGroup">
      <ng-container *ngIf="formConfig.formGroupConfig.fieldConfigList">
        <ng-container *ngFor="let fieldConfig of formConfig.formGroupConfig.fieldConfigList" appDynamicTemplateField
        [fieldConfig]="fieldConfig" [group]="formGroup" [groupConfig]="formConfig.formGroupConfig">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="formConfig.formGroupConfig.groupConfigList">
        <ng-container *ngFor="let config of formConfig.formGroupConfig.groupConfigList">
          <ng-container *ngTemplateOutlet="treeView;  context:{ $implicit: {formGroupConfig:config , formGroup:formGroup.controls[config.name]}}">
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <!--</li>-->
</ng-template>