<h1>Output</h1>
<div class="maincontainer">
  <div style="border:1px solid black">
    <form [formGroup]="InvoiceDetailRequest" (ngSubmit)="onSubmit()">
      <div style="border:1px solid black">
        <br>
        <h3>InvoiceDetailRequest </h3><br>
        <hr>
        <div class="form-group" formGroupName="InvoiceDetailRequestHeader">
          <label for="invoiceNumber">Invoice Number</label>
          <input type="text" id="invoiceNumber" class="form-control" formControlName="invoiceNumber">
          <label for="customerID">Customer Id</label>
          <input type="text" id="customerID" class="form-control" formControlName="customerID">

          <div class="col-xs-12" formArrayName="customizedComponent" style="margin-top:10px">
            <div class="row"
              *ngFor="let customComponent of InvoiceDetailRequest.get('InvoiceDetailRequestHeader.customizedComponent').controls; let i=index"
              [formGroupName]="i" style="margin-top:10px">
              <app-customized-widget [name]="customComponent.value.name" [labelName]="customComponent.value.labelName"
                [group]="InvoiceDetailRequest" groupName="InvoiceDetailRequestHeader.customizedComponent" [ctrlName]="i"
                [fieldType]="customComponent.value.fieldType" [options]="customComponent.value.options">
              </app-customized-widget>
            </div>
          </div>
        </div>
      </div>

      <div style="border:1px solid black">
        <br><br>
        <br>
        <h3>InvoiceDetailOrder </h3><br>
        <hr>
        <div class="form-group" formGroupName="InvoiceDetailOrder">
          <div class="form-group" formGroupName="InvoiceDetailOrderInfo">
            <label for="OrderIDInfo">Order Number</label>
            <input type="text" id="OrderIDInfo" class="form-control" formControlName="OrderIDInfo">
            <label for="SupplierOrderInfo">Supplier order Id</label>
            <input type="text" id="SupplierOrderInfo" class="form-control" formControlName="SupplierOrderInfo">
            <div class="col-xs-12" formArrayName="customizedComponent" style="margin-top:10px">
              <div class="row"
                *ngFor="let customComponent of InvoiceDetailRequest.get('InvoiceDetailOrder.InvoiceDetailOrderInfo.customizedComponent').controls; let i=index"
                [formGroupName]="i" style="margin-top:10px">
                <app-customized-widget [name]="customComponent.value.name" [labelName]="customComponent.value.labelName"
                  [group]="InvoiceDetailRequest"
                  [options]="customComponent.value.options"
                  groupName="InvoiceDetailOrder.InvoiceDetailOrderInfo.customizedComponent" [ctrlName]="i"
                  [fieldType]="customComponent.value.fieldType">
                </app-customized-widget>

              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>


</div>
<br>
<br>