<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group" *ngIf="!onlyOdd">
        <li
          class="list-group-item" *ngFor="let evennumber of evenNumbers">
          {{evennumber}}
        </li>
      </ul>
      <ul class="list-group" *ngIf="onlyOdd"> 
        <li
          class="list-group-item" *ngFor="let oddNumber of oddNumbers">
          {{oddNumber}}
        </li>
      </ul>
    </div>
  </div>
</div>
