<form class="dynamic-form" [formGroup]="form" (submit)="handleSubmit($event)">
  <ng-container *ngFor="let groupConfig of groupConfigList;" appDynamicForm [config]="field" [group]="form">
  </ng-container>
</form>
