<div class="w-100">
  <form class="dynamic-form form-inline" [formGroup]="form" (submit)="handleSubmit($event)">
    <table>
      <tr>
        <ng-container *ngFor="let groupConfig of groupConfigList">          
            <ng-container
              *ngTemplateOutlet="treeView;  context:{ $implicit: {formGroupConfig:groupConfig , formGroup:form.controls[groupConfig.name]}}">
            </ng-container>          
        </ng-container>
      </tr>
    </table>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>
<ng-template #treeView let-formConfig>
  <div style="border:1px solid black">
    <ng-container appDynamicTemplateGroup [groupConfig]="formConfig.formGroupConfig" [group]="formConfig.formGroup">
      <ng-container *ngIf="formConfig.formGroupConfig.fieldConfigList">
        <table>
          <tr>
            <ng-container *ngFor="let fieldConfig of formConfig.formGroupConfig.fieldConfigList" appDynamicTemplateField
              [fieldConfig]="fieldConfig" [group]="formConfig.formGroup" [groupConfig]="formConfig.formGroupConfig">
              <td></td>
            </ng-container>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="formConfig.formGroupConfig.groupConfigList">
        <table>
          <tr>
            <ng-container *ngFor="let config of formConfig.formGroupConfig.groupConfigList">
              <td></td>
              <ng-container
                *ngTemplateOutlet="treeView;  context:{ $implicit: {formGroupConfig:config , formGroup:formConfig.formGroup.controls[config.name]}}">

              </ng-container>

            </ng-container>
          </tr>
        </table>
      </ng-container>
    </ng-container>
  </div>
</ng-template>