<p>server with id {{ serverId }} is {{ serverName }}</p>

<p>{{'HARDCODED_STRING'}} server with id {{ serverId }} is {{ serverName }}</p>

<p> server with id {{ serverId }} is returning from function {{ getServerStatus() }}</p>