<div *ngIf="this.group.controls[this.formGroupName]">

  <div class="dynamic-field form-select" [formGroup]="this.group.controls[this.formGroupName]">

    <label>{{ fieldConfig.label }}</label>
    <select [formControlName]="fieldConfig.name" class="form-control">
      <option value="">{{ fieldConfig.placeholder }}</option>
      <option *ngFor="let option of fieldConfig.options">
        {{ option }}
      </option>
    </select>
  </div>
</div>
<br>