<div class="col-sm-12" [formGroup]="group">
    <label [for]="name">{{labelName}}</label>
    <select class="form-control" (change)="onChangeVal($event)">
        <option *ngFor="let option of options" >{{option}}</option>
    </select>
</div>