<h1>JSON BOX</h1>
<div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">

        <div class="col-xs-12">

            <label> Select the Section</label>
            <select class="form-control">
                <option *ngFor="let option of options">{{option}}</option>
            </select>
            <button class="btn btn-success" (click)="addField()">Add Field</button>
            <button class="btn btn-success" (click)="editField()">Edit Field</button>
            <br><br>
            <div class="row" *ngIf="isNewFieldAdded">
                <label> Field Name</label><input type="text" name="" id="" class="form-control"><br><br>
                <label> Field Type</label>
                <select class="form-control" class="form-control">
                    <option *ngFor="let fieldtype of fieldTypes">{{fieldtype}}</option>
                </select>
            </div>

            <div class="row" *ngIf="isEditField">
                <label> Field Name</label>
                <select class="form-control">
                    <option *ngFor="let field of fields">{{field}}</option>
                </select>
                <br>
                <br>
                <label> Visible</label>
                <div class="radio" *ngFor="let option of visibleOptions">
                    <label>
                        <input type="radio" [value]="option" name="visible">{{ option }}
                    </label>
                </div>

                <label> Editable</label>
                <div class="radio" *ngFor="let option of editableOptions">
                    <label>
                        <input type="radio" [value]="option" name="editable">{{ option }}
                    </label>
                </div>


            </div>

        </div>
    </form>
    <br>
    <br>
    <button class="btn btn-success" (click)="onSubmitJson()">Crate Form</button>
</div>