<h1>JSON BOX</h1>
<textarea [(ngModel)]="jsonMessage"></textarea>
<br>
<br>
<button class="btn btn-success" (click)="onSubmitJson()">Crate Form</button>
<button class="btn btn-success" (click)="onRetrieveJson()">Retrieve Sample Data</button>