<app-header (featureSelected)="onSelected($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--
      <app-recepies *ngIf="featureType =='recepies'"></app-recepies>
      <app-shopping-list *ngIf="featureType !='recepies'"></app-shopping-list>
      -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>