<div
        class="panel panel-default"
       >
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <!-- Let us assume that we move this part of code to the app-component-->
          <!--
            <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
          -->
          <ng-content></ng-content>
        </div>
  </div>      