<app-slider sliderId="address" top="0px" [customTrigger]="true" appSliderDirective >
  <div selectPane>
      <app-address [group]="group" [addressVal]="data.billFrom" addressType="Bill From"></app-address>
      <app-address [group]="group" [addressVal]="data.billTo" addressType="Bill To"></app-address>
  </div>
</app-slider>
<div class="row col-xs-12">

</div>
<div class="row" style="margin-left:10px;   background-image: linear-gradient(rgba(255, 255, 255, 0.982),rgb(238, 240, 244), white);">
  <form (ngSubmit)="submitInvoice(f)" #f="ngForm">
    <div class="row" style=" background-color:rgb(204, 203, 205) ;margin-left: 5px">
      <div class="col-md-2">
        <label for="invoiceNumber">Invoice no.*</label>
        <input type="text" id="addressLine1" class="form-control" name="invoiceNumber" [value]="data.invoiceId">
      </div>
      <div class="col-md-2">
        <label for="invoiceDate">Invoice Date</label>
        <input type="date" id="invoiceDate" class="form-control" name="invoiceDate" [value]="data.invoiceDate">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <address group="billFrom" [addressVal]="data.billFrom" addressType="Bill From"></address>
      </div>
      <div class="col-sm-3">
        <address group="billTo" [addressVal]="data.billTo" addressType="Bill To"></address>
      </div>
    </div>
    <br><br>
    > Other business Address
    <br>
    <br>
    <button class="btn btn-default" type="button" appTrigger="address">Edit Address</button>

    <br>
    <br>

    <app-line-item [lineItems]="data.lineItemDataModel"></app-line-item>
    <hr>
    <hr>
    <div class="row pull-right" style="margin-right: 5px ;margin-top:100px">
      <button class="btn btn-success">Submit</button>
    </div>
  </form>
</div>