<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group" *ngIf="!onlyOdd">
        <li
          class="list-group-item" *ngFor="let evennumber of evenNumbers" 
          [ngClass]="{even: evennumber%2 === 0}"
          [ngStyle]="{backgroundColor: evennumber%2 !== 0?'yellow':'cyan'}">
          {{evennumber}}
        </li>
      </ul>
      <!--<ul class="list-group" *ngIf="onlyOdd"> 
        <li
          class="list-group-item" *ngFor="let oddNumber of oddNumbers"
          [ngClass]="{odd: oddNumber%2 !== 0}"
          [ngStyle]="{backgroundColor: oddNumber%2 !== 0?'yellow':'cyan'}">
          {{oddNumber}}
        </li>
      </ul>-->
      <ng-template [ngIf]="onlyOdd">
        <ul class="list-group"> 
          <li
            class="list-group-item" *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{odd: oddNumber%2 !== 0}"
            [ngStyle]="{backgroundColor: oddNumber%2 !== 0?'yellow':'cyan'}">
            {{oddNumber}}
          </li>
        </ul>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive</p>
      <p appBetterHighlight [defaultColor]="'red'" [highlightedColor]="'yellow'">Style me with basic directive</p>
      <p appBetterHighlight [defaultColor]="'green'" [highlightedColor]="'blue'">Style me with basic directive</p>
    </div>
  </div>
</div>
